$color-success-tint: #ebf7e3;
$color-success-shade: #9bd770;
$color-success: #66b032;
$color-success-dark: #375f1b;

$color-info-tint: #e1ecf9;
$color-info-shade: #609ce1;
$color-info: #236ab9;
$color-info-dark: #133863;

$color-warning-tint: #ffebdc;
$color-warning-shade: #feab6d;
$color-warning: #fc7307;
$color-warning-dark: #9d4502;

$color-danger-tint: #fcdee0;
$color-danger-shade: #f37c84;
$color-danger: #ea202c;
$color-danger-dark: #950e17;

$color-white: #ffffff;
$color-white-dark: #fcfcfc;

$color-black-light: #303030;
$color-black: #000000;

$color-neutral-1-light: #ffffff;
$color-neutral-1: #f2f2f2;
$color-neutral-1-dark: #e5e5e5;

$color-neutral-2-light: #e5e5e5;
$color-neutral-2: #d9d9d9;
$color-neutral-2-dark: #cccccc;

$color-neutral-3-light: #cccccc;
$color-neutral-3: #bfbfbf;
$color-neutral-3-dark: #b2b2b2;

$color-neutral-4-light: #b2b2b2;
$color-neutral-4: #a6a6a6;
$color-neutral-4-dark: #999999;

$color-neutral-5-light: #999999;
$color-neutral-5: #8c8c8c;
$color-neutral-5-dark: #7f7f7f;

$color-neutral-6-light: #7f7f7f;
$color-neutral-6: #737373;
$color-neutral-6-dark: #666666;

$color-neutral-7-light: #666666;
$color-neutral-7: #595959;
$color-neutral-7-dark: #4c4c4c;

$color-neutral-8-light: #4c4c4c;
$color-neutral-8: #404040;
$color-neutral-8-dark: #333333;

$color-neutral-9-light: #333333;
$color-neutral-9: #262626;
$color-neutral-9-dark: #191919;

$color-neutral-10-light: #191919;
$color-neutral-10: #0d0d0d;
$color-neutral-10-dark: #000000;
