$color-primary-light: #fc9500;
$color-primary: #f27900;
$color-primary-dark: #e34e01;

$color-secondary-light: #775a3c;
$color-secondary: #5d442d;
$color-secondary-dark: #402a1a;

$color-tertiary-light: #afb5bb;
$color-tertiary: #76828f;
$color-tertiary-dark: #525f6d;
