html,
body {
  height: $size-pe-100;
  min-height: $size-pe-100;
  font: $font-regular $size-pe-100 $font-family-work-sans;
  letter-spacing: 0;
  background-color: $color-neutral-1;

  @media only screen and (max-width: $size-screen-sm) {
    font-size: $size-pe-95;
  }

  @media only screen and (prefers-color-scheme: dark) {
    background-color: $color-neutral-2;
  }
}

b,
strong {
  font-weight: $font-bold;
}

a {
  color: $color-primary;

  &:hover {
    text-decoration: none;
  }
}
