html,
body {
  height: $size-pe-100;
  min-height: $size-pe-100;
  font: $font-regular $size-pe-100 $font-family-work-sans;
  letter-spacing: 0;
  background-color: $color-neutral-1;

  @media only screen and (max-width: $size-screen-sm) {
    font-size: $size-pe-95;
  }

  @media only screen and (prefers-color-scheme: dark) {
    background-color: $color-neutral-2;
  }
}

@mixin nested-code {
  &>code {
    padding: 2px 3px;
    color: $color-white;
    font-size: $font-size-14;
    font-weight: $font-bold;
    border-radius: 5px;
    background-color: $color-neutral-8;

    &::before,
    &::after {
      content: '`';
      padding: 0 $size-px-1 0 $size-px-1;
    }
  }
}

article {
  max-width: $size-px-700;
  display: flex;
  flex-direction: column;
  gap: $size-px-40;

  &>section {
    &>h3 {
      padding-top: $size-px-15;
    }

    &>p {
      padding-top: $size-px-15;
      @include nested-code;
    }

    &>a {
      margin-top: $size-px-15;
      display: inline-block;
    }

    &>ol,
    &>ul {
      padding: $size-px-15 0 0 $size-px-20;
      list-style-type: decimal;

      li:not(:first-child) {
        padding-top: $size-px-10;
      }

      li {
        @include nested-code;

        &>ul {
          padding: $size-px-10 0 0 $size-px-20;
          list-style-type: disc;
        }
      }
    }

    &>ul {
      list-style-type: disc;
    }
  }
}

b,
strong {
  font-weight: $font-bold;
}

a {
  color: $color-info-shade;

  &:hover {
    text-decoration: none;
  }
}

hr {
  width: 100%;
  padding: 0;
  margin: 0;
}
