@import "variables";

header {
  padding: $size-px-20;
  display: flex;
  align-items: center;
  gap: 15px;
  flex: content;
  font-size: $font-size-32;
  color: $color-white-dark;
  text-align: right;
  border-bottom: $size-px-1 solid $color-white-dark;
  background-color: $color-neutral-9;

  img {
    width: 60px;
  }
}

main {
  flex: 3 1 $size-pe-100;
  display: flex;

  &>aside {
    flex: 1;
    color: $color-white-dark;
    border-right: $size-px-1 solid $color-white-dark;
    background-color: $color-neutral-10-light;

    nav {
      padding-top: $size-px-40;
      display: flex;
      flex-direction: column;
      gap: $size-px-5;

      a {
        padding: $size-px-10 $size-px-30;
        display: inline-block;
        color: $color-white-dark;
        text-decoration: none;

        &:hover {
          background-color: rgba($color-info-shade, $opacity-5);
        }
      }
    }
  }

  &>section {
    flex: 4;
    padding: $size-px-40 $size-px-40 $size-px-100 $size-px-40;
    color: $color-white-dark;
    background-color: $color-neutral-9;
  }
}

footer {
  flex: content;
  padding: $size-px-20;
  font-size: $font-size-13;
  color: $color-white-dark;
  text-align: right;
  border-top: $size-px-1 solid $color-white-dark;
  background-color: $color-neutral-9;
}

:host {
  height: $size-pe-100;
  display: flex;
  flex-direction: column;
}