<!-- <header>
  <h1>{{data.title}}!</h1>
</header> -->
<main>
  <aside>
    <nav>
      <a routerLink="angular-data-binding">Data Binding</a>
      <a routerLink="angular-components">Components</a>
    </nav>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
<!-- <footer>
  <p>©<time>{{getFullYear()}}</time> Vitor Azevedo - All Rights Reserved.</p>
</footer> -->
<!-- <article class="">
  <h1></h1>
  <section>
    <h2></h2>
    <p></p>
  </section>
  <section>
    <h2></h2>
    <p></p>
    <app-code-preview [language]="data.preview.html.language" [code]="data.preview.html.code"></app-code-preview>
  </section>
  <section>
    <h2></h2>
    <p></p>
  </section>
</article> -->
