<header>
  <img src="/assets/svg/angular-logo.svg" alt="Angular"><strong>{{data.title}}!</strong>
</header>
<main>
  <aside>
    <nav>
      <a routerLink="angular-routes" routerLinkActive="active">Routes</a>
      <a routerLink="angular-services" routerLinkActive="active">Services</a>
      <a routerLink="angular-data-binding" routerLinkActive="active">Data Binding</a>
      <a routerLink="angular-components" routerLinkActive="active">Components</a>
      <a routerLink="angular-directives" routerLinkActive="active">Directives</a>
    </nav>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
<footer>
  <p>©<time>{{getFullYear()}}</time> Vitor Azevedo - All Rights Reserved.</p>
</footer>
<!--
<article class="">
  <h1></h1>
  <section>
    <h2></h2>
    <p></p>
  </section>
  <section>
    <h2></h2>
    <p></p>
  </section>
</article>
<app-code-preview [language]="data.preview.html.language" [code]="data.preview.html.code"></app-code-preview>
-->
