@import "variables";

.app-cards {
  padding: $size-px-20;
  display: flex;
  flex-direction: column;
  gap: $size-px-10;
  background-color: $color-white;
  border: $size-px-1 solid $color-black;

  button {
    padding: 10px;
    border: $size-px-1 solid $color-black;

    &:hover {
      background-color: $color-neutral-1;
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  gap: $size-px-10;
}
